<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME}% !-f
    RewriteCond %{REQUEST_FILENAME}% !-d
    #allow images, css and js links
    RewriteCond %{REQUEST_URI} !\.(css|js|jpe?g|gif|png|svg)$ [NC]
    #RewriteRule ^(.*)$ index.php?url=$1 [PT,L]
    RewriteRule ^ index.php [L]

</IfModule>